<nav class="navbar navbar-inverse" role="navigation" style="margin: 0;z-index: 3;overflow: hidden">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">
      	<%= image_tag("logo.png", style: "opacity:1 !important;") %> &nbsp &nbsp Egyaan
      </a>
    </div>
      <ul class="nav navbar-nav navbar-right">
        <li>
        	<%= link_to("SIGN UP" , {controller: "register" , action: "author" , style: "opacity: 1 !important;"})  %>
        </li>
        <li>
        	<%= link_to("SIGN IN" , {controller: "home" , action: "show"} , remote: true )  %>
        	
		</li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>

	<!-- fdd -->
	<div id="myModal" class="modal fade">
		<div  class="modal-dialog" style="color:black;">
			<div class="modal-content">
				<%= form_tag( login_auth_path , class: "form_horizontal" , remote: "true" ) do %>
      			<div class="modal-header">
      				<%= image_tag("logo.png", style: "opacity:1;") %>
       				<h4 class="modal-title" id="myModalLabel">LOGIN</h4>
       						      	</div>
      			<div class="modal-body">
	      	 		<div id="warning">
		      	 	</div>	
	      	 			<%= label(:email_id ,  "User ID" , class: "control-label"  ) %>
		    			<%= text_field(:email_id , "User" , class: "form-control tip-top"  )  %>
		  			<div id="pass">
		  				<%= label(:password ,  "password" , class: "control-label") %>
		  				<%= password_field(:password  , "password" ,class: "form-control tip-top") %>
		  			</div>
				</div>
      			<div class="modal-footer">
      				<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        			<%= submit_tag "Login" , class: "btn btn-primary"%>
      			</div>
      			<% end %>
    		</div>
		</div>
	</div>

<div id="carousel-example-generic" class="carousel slide" data-ride="carousel" style="top:-70px;z-index: 1;" >
  <!-- Indicators -->
  <ol class="carousel-indicators">
    <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
    <li data-target="#carousel-example-generic" data-slide-to="1"></li>

  </ol>

  <!-- Wrapper for slides -->
  <div class="carousel-inner">
    <div class="item active">
      <%= image_tag("img1.jpg") %>
      <div class="carousel-caption">
        ...
      </div>
    </div>
    <div class="item">
      <%= image_tag("img2.jpg") %>
      <div class="carousel-caption">
        ...
      </div>
    </div>
    ...
  </div>

  <!-- Controls -->
  <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
    <span class="glyphicon glyphicon-chevron-left"></span>
  </a>
  <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
    <span class="glyphicon glyphicon-chevron-right"></span>
  </a>
</div>
<div style="background-color:#ff7355;height: 100px;width: 100%;top:-70px;">
	<div class="container"><h3><center><span style="font-style:italic">"Frequentes pressaient par une mendiaient approchait survivants net."</center></h3></div>
</div>
<div style="background-color:#ff7355;height: 300px;width: 100%;top:-70px;">
	<div class="container">
		<div class="row">
  			<div class="col-md-4"> Il peur sons ciel en tu tous pere ca coin. Domes va halte on arret le.Dit revendre fut respirer interdit voitures. Sa oh ce de redoublait diplomates pressaient comprendre etonnement. On robe tu nees nous. He sang quoi suis qu sous pour. Ces ils apercoit eue age prennent fatalite. Revolution defilaient eau prisonnier dut mur condamnait frequentes estaminets.</div>
  			<div class="col-md-4">Dit revendre fut respirer interdit voitures. Sa oh ce de redoublait diplomates pressaient comprendre etonnement. On robe tu nees nous. He sang quoi suis qu sous pour. Ces ils apercoit eue age prennent fatalite. Revolution defilaient eau prisonnier dut mur condamnait frequentes estaminets. Il peur sons ciel en tu tous pere ca coin. Domes va halte on arret le.</div>
  			<div class="col-md-4"> Domes va halte on arret le.Dit revendre fut respirer interdit voitures. Sa oh ce de redoublait diplomates pressaient comprendre etonnement. On robe tu nees nous. He sang quoi suis qu sous pour. Ces ils apercoit eue age prennent fatalite. Revolution defilaient eau prisonnier dut mur condamnait frequentes estaminets. Il peur sons ciel en tu tous pere ca coin.</div>
		</div>
	</div>
</div>
<div style="height: 200px;width: 100%;top:-70px;">
	
</div>
<!--div style="position:fixed;height:200px;width: 100%;bottom:-70px;top:0px;z-index: 1">
	<div class="container">
		<div class="row">
  			<div class="col-md-3"> Il peur sons ciel en tu tous pere ca coin. Domes va halte on arret le.Dit revendre fut respirer interdit voitures. Sa oh ce de redoublait diplomates pressaient comprendre etonnement. On robe tu nees nous. He sang quoi suis qu sous pour. Ces ils apercoit eue age prennent fatalite. Revolution defilaient eau prisonnier dut mur condamnait frequentes estaminets.</div>
  			<div class="col-md-3">Dit revendre fut respirer interdit voitures. Sa oh ce de redoublait diplomates pressaient comprendre etonnement. On robe tu nees nous. He sang quoi suis qu sous pour. Ces ils apercoit eue age prennent fatalite. Revolution defilaient eau prisonnier dut mur condamnait frequentes estaminets. Il peur sons ciel en tu tous pere ca coin. Domes va halte on arret le.</div>
  			<div class="col-md-3"> Domes va halte on arret le.Dit revendre fut respirer interdit voitures. Sa oh ce de redoublait diplomates pressaient comprendre etonnement. On robe tu nees nous. He sang quoi suis qu sous pour. Ces ils apercoit eue age prennent fatalite. Revolution defilaient eau prisonnier dut mur condamnait frequentes estaminets. Il peur sons ciel en tu tous pere ca coin.</div>
  			<div class="col-md-3"> Domes va halte on arret le.Dit revendre fut respirer interdit voitures. Sa oh ce de redoublait diplomates pressaient comprendre etonnement. On robe tu nees nous. He sang quoi suis qu sous pour. Ces ils apercoit eue age prennent fatalite. Revolution defilaient eau prisonnier dut mur condamnait frequentes estaminets. Il peur sons ciel en tu tous pere ca coin.</div>
		</div>
	</div>
</div>-->

